
.bannerBusqueda{
    margin-top: 5%;
    width: 100%;
    height: 15%;
    background-color: #333333;

}

.bannerBusqueda .fieldset{
    background-color: #333;
    border: 1px solid #333333;
    border-radius: 5px;
    justify-items: center;
    padding: 0 0 0 40px;
}

input, button{
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0%;
    float: left;
}

input{
    color: #666;
    border: none;
    z-index: 2;
}

button{
    font-size: 1cm;
    width: 50px;
    border: none;
    background: #333;
    transform: translate(-50px,0px);
}

fa-search{
    color: #bbb;
    transform: translate(-190px,0);
    transition: all .1s ease-in-out;
}

input:focus{
    outline: none;
}
input:focus + button{
    transform: translate(0,0);
    transition-duration: .3s;
}

input:focus + button .fa{
    color: white;
    transform: translate(0,0);
    transition-duration: .5s;
}

@media screen and (min-width:768px){
    .buscar:hover > .buscarTexto{
        width: 300px;
    }
}

@media screen and (min-width:480px){
    .buscar:hover > .buscarTexto{
        width: 170px;
    }
}

@media screen and (min-width:1024px){
    .buscar:hover > .buscarTexto{
        width: 300px;
    }
}

