
/*footer*/

.footer-top{
    background: #FA8128;   
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;

}

.segment-one{
    color: white;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    background-color: #FA8128;
}


.segment-two{   
padding-top: 22px;
color: white;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;

}

.segment-three {
    padding-top: 22px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

}
.fa-fw{

    color: rgb(238, 238, 238);
    margin-right: 10px;
}