body{
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.containerGallery{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
}

.item{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0,.095);
    transition: all 100ms;
    position: relative;
}

.item::after{
    content: "";
    background-color: rgba(179, 229, 252, .03);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform:scale(0);
    opacity: 0;
}
.item:hover::after{
    opacity: 1;
    transform: scale(1);
}
.item:hover{
    transform: scale(1.05);
}

.item-img{
    max-width: 100%;
    display: block;
}

@media screen and (min-width:590px){
    .containerGallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:960px){
    .containerGallery{
        grid-template-columns: repeat(3, 1fr);
    }
}