.videosection{
    width: 100;
    height: auto;
    margin-bottom: 100px;
}

p{
    margin-top: 50px;
}

.delimiter{
    width:480px;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}